* {
    /*font-family: 'Dongle', sans-serif;*/
    font-family: 'Noto Sans', sans-serif;
}

.wrap {
    width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

/* 공통요소 및 부트스트랩 덮어 쓴 요소 */
:root {
    --gray50: #F9FAFB;
    --gray100: #F6F7FB;
    --gray200: #EEF1F7;
    --gray300: #E6EAF4;
    --gray400: #CBD2E3;
    --gray500: #B5BCCD;
    --gray600: #858DA3;
    --gray700: #686C7E;
    --gray800: #363A4C;
    --gray900: #171F31;
    --custom-primary: #0095ff;
    --custom-secondary: #848B9F;
    --table-header: #EEF1F7;
    --global-bg: #F6F7FB;
    --black: #333333;
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    src: url(/static/fonts/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 500;
    src: url(/static/fonts/NotoSansKR-Medium.otf);
}


@font-face {
    font-family: 'Noto Sans';
    font-weight: 300;
    src: url(/static/fonts/NotoSansKR-Light.otf);
}


@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    src: url(/static/fonts/NotoSansKR-Bold.otf);
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
}


form .form-group label {
    color: var(--custom-secondary);
}

button:focus, button:active {
    box-shadow: none !important;
}

.btn.btn-default:hover {
    background: rgba(0, 0, 0, 0.1);
}

.overflow-y-auto {
    overflow-y: overlay;
}

.click {
    cursor: pointer;
}

.content-wrapper {
    margin: 30px 0;
}

.content-header {
    display: flex;
    margin-bottom: 16px;
}

.content-header .title {
    /*display: inline-block;*/
    /*border-bottom: 1px solid var(--custom-primary);*/
    margin: 0;
    font-weight: 500;
}

.content-header .desc {
    font-size: 14px;
    color: var(--custom-secondary);
    display: flex;
    align-items: center;
}

.content-header .desc:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: var(--gray300);
    margin: 0 10px;
}

/* index.html */
.nav-top {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    z-index: 10;
}

.nav-top nav .navbar-brand {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    line-height: 1;
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
}

.nav-bottom .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 8px;
}

.nav-bottom .wrapper button {
    font-family: 'Dongle', sans-serif;
    line-height: 1;
    font-size: 30px;
}

.nav-bottom .wrapper div {
    text-align: center;
}

.body-wrapper {
    margin: 56px auto 60px auto;
    height: calc(100% - 116px);
}

#login-btn {
    cursor: pointer;
    color: white;
}

/* main.html */
.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.banner .wrapper {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .wrapper .text {
    color: white;
}

.banner .wrapper .text.title {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    transform: translateX(-300px);
    opacity: 0;
    transition: all 1s ease;
}

.banner .wrapper .text.desc {
    /*transform: translateX(300px);*/
    opacity: 0;
    transition: all 1s ease 0.8s;
}

.main-profile-wrapper {
    display: flex;
    align-items: center;
}

/*.main-profile-wrapper * {*/
/*    font-family: 'Noto Sans', sans-serif;*/
/*}*/

.main-profile-wrapper .account {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.main-profile-wrapper .account span {
    font-size: 14px;
    color: white;
    line-height: 1.2;
}

/* 회원가입, 로그인 page */
/*.sign-up * {*/
/*    font-family: sans-serif;*/
/*}*/

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--global-bg);
}

.sign-up-wrapper {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    background: white;
}

.sign-up-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sign-up-btn-group {
    display: flex;
    column-gap: 8px;
}

.sign-up-btn-group button {
    width: 100%;
}

.sign-up-link {
    display: flex;
    margin-top: 16px;
}

.sign-up-link div:last-child {
    margin-left: 8px;
    color: var(--custom-primary);
    cursor: pointer;
}


/* mypage.html */
.profile-info {
    display: flex;
}

/*.profile-info * {*/
/*    font-family: sans-serif;*/
/*}*/

.profile-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.profile-detail .user-info-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
}

.profile-detail .user-info-wrapper .user-id {
    margin-left: 8px;
    color: var(--gray400);
    font-size: 14px;
}

.profile-detail .user-name {
    font-size: 20px;
}

.profile-detail .user-name span {
    font-size: 1rem;
}

.profile-img-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 10em;
    overflow: hidden;
    position: relative;
    /*background: var(--gray100);*/
    background-image: url("/static/img/basic-profile.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center center;
    background-color: #e4e6e7;
}

.profile-img-wrapper.small {
    width: 30px;
    height: 30px;
    background-image: url("/static/img/basic-profile.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    background-color: #e4e6e7;
}

.profile-img {
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info .img-container {
    position: relative;
}

.hover-element {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: var(--gray400);
    border-radius: 10em;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.hover-element:hover {
    background: var(--gray600);
}

.hover-element img {
    width: 20px;
    height: 20px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--gray300);
    margin: 30px 0;
}

/* fileupload */
#file-input {
    display: none;
}

#file-save-btn {
    display: none;
}

/* menu.html */
/*.menu-page * {*/
/*    font-family: sans-serif;*/
/*}*/

.menu-page .wrapper {
    display: flex;
    column-gap: 8px;
    margin: 16px 0;
    /*position: fixed;*/
    /*top: 60px;*/
}

.menu-page .wrapper .form-select {
    width: auto;
}

.menu-page .wrapper .form-control {
    width: auto;
}

.menu-page #menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 8px;
    row-gap: 8px;
    /*margin-top: 100px;*/
}

.menu-page #menu-list .menu-item {
    /*padding: 16px;*/
    border: 1px solid var(--gray400);
    border-radius: 8px;
    overflow: hidden;
}

.menu-page #menu-list .menu-item .title {
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.menu-page #menu-list .menu-item .title:hover {
    font-weight: 700;
}

.menu-page #menu-list .menu-item .address {
    font-size: 14px;
    color: var(--custom-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu-page #menu-list .menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.menu-page #menu-list .menu-item .item-wrapper {
    padding: 16px;
}

.menu-page #menu-list .menu-item .item-wrapper .like-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    align-items: center;
}

.menu-page #menu-list .menu-item .item-wrapper .like-btn img {
    width: 25px;
    height: 25px;
}

.menu-page #menu-list .menu-item .item-wrapper .like-btn .like-count {
    margin-right: 10px;
    color: #e91550;
    font-size: 14px;
}

#like-list .like-item {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray400);
    border-radius: 8px;
    margin: 16px 0;
    height: 100px;
    overflow: hidden;
}

#like-list .like-item img {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

#like-list .like-item .desc-wrapper {
    margin-left: 20px;
}

#like-list .like-item .desc-wrapper .title {
    font-size: 18px;
}

#like-list .like-item .desc-wrapper .address {
    font-size: 14px;
    color: var(--custom-secondary);
}

.horizontal-list {
    display: flex;
    position: relative;
    overflow: hidden;
    padding-left: 8px;
}

.horizontal-list .item {
    border: 1px solid var(--gray400);
    border-radius: 8px;
    overflow: hidden;
    min-width: calc(100% / 3 - 8px);
}

.horizontal-list .item .title {
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.horizontal-list .item .address {
    font-size: 14px;
    color: var(--custom-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.horizontal-list .item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.horizontal-list .item .item-wrapper {
    padding: 16px;
}

.horizontal-list .list-wrapper {
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    width: 100%;
    column-gap: 8px;
}

.horizontal-list .arrow-btn {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10em;
    width: 30px;
    height: 30px;
}

.horizontal-list .arrow-btn img {
    fill: white;
}

.horizontal-list .arrow-btn.left {
    left: 0;
    opacity: 0;
}

.horizontal-list .arrow-btn.right {
    right: 0;
}

.horizontal-list .item .item-wrapper .like-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    align-items: center;
}

.horizontal-list .item .item-wrapper .like-btn .like-count {
    margin-right: 10px;
    color: #e91550;
    font-size: 14px;
}

.horizontal-list .item .item-wrapper .like-btn img {
    width: 25px;
    height: 25px;
}