{% extends 'index.html' %}
{% block content %}
<div class="wrap">
    <div class="my-4 px-4">
        <h5>-Random 추천</h5>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../static/img/흑당이.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title"><h6>가게명</h6></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../static/img/흑당이.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title"><h6>가게명</h6></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../static/img/흑당이.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title"><h6>가게명</h6></a>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="my-4 px-4">
        <h5>-좋아요 순위</h5>
        <div class="horizontal-list custom-list">
            <button class="arrow-btn left" onclick="handleClickArrowBtn('prev')">
                <img src="/static/img/icon/caret-left-fill.svg" />
            </button>
            <div id="card-group" class="list-wrapper">
                    <!--좋아요 높은 순 리스트-->
            </div>
            <button class="arrow-btn right" onclick="handleClickArrowBtn('next')">
                <img src="/static/img/icon/caret-right-fill.svg" />
            </button>
        </div>
    </div>
</div>
{% endblock %}
