{% extends 'index.html' %}
{% block content %}
<head>
<!--    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>-->
<!--    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>-->

    <!--naver Maps-->
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wgv3kenwp7"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--naver Maps Submodule Geocode-->
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wgv3kenwp7&submodules=geocoder"></script>
    <script src="../../myproject/static/script.js"></script>
</head>

<div id="map" style="width: inherit;height: 100%;overflow: hidden;"></div>
<script>
    function onSuccessGeolocation(position) {
        var locationBtnHtml = '<button class="current-location-btn">현재 위치로 이동</button>';
        var markers = [];
        var infoWindows = [];

        //현재 위치 정보 저장
        var location = new naver.maps.LatLng(position.coords.latitude,
            position.coords.longitude);

        // 네이버 지도 생성
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(location),
            zoomControl: true,
            maxZoom: 18,
            minZoom: 14,
            zoom: 15,
            mapTypeId: naver.maps.MapTypeId.NORMAL
        });

        //커스텀 컨트롤
        naver.maps.Event.once(map, 'init', function () {
            var customControl = new naver.maps.CustomControl(locationBtnHtml, {
                position: naver.maps.Position.TOP_RIGHT
            });
            customControl.setMap(map);

            naver.maps.Event.addDOMListener(customControl.getElement(), 'click', function () {
                map.setCenter(new naver.maps.LatLng(location));
            });
        })

        //현재 위치 InfoWindow 생성 및 표시
        var myLocation = new naver.maps.InfoWindow();
        myLocation.setContent('<div class="current-location">' + '현재 위치!' + '</div>');
        myLocation.open(map, location);


        getCurrentLocationData();

        function getCurrentLocationData() {
            markers = [];
            infoWindows = [];
            var boundsSW = map.getBounds().getSW()
            var boundsNE = map.getBounds().getNE()
            var SW = [boundsSW['x'], boundsSW['y']]
            var NE = [boundsNE['x'], boundsNE['y']]
            var center = map.getCenter()

            //Geospatial Index(DB)로 검색하기 위해선 [경도(longtitude),위도(latitude)] 순으로 값을 저장해야함
            var locationForGeoSearch = [center['x'], center['y']]

            jQuery.ajaxSettings.traditional = true; // ajax로 배열 보낼때 필수 구문
            $.ajax({
                type: "POST",
                url: "/region",
                async: false,
                data: {sendDatas: [JSON.stringify({loc: locationForGeoSearch, start: SW, goal: NE})]},
                success: function (response) {
                    let datas = response['stores'];
                    let length = datas.length;

                    for (let i = 0; i < length; i++) {
                        let address = datas[i]['address']
                        let category = datas[i]['category']
                        let name = datas[i]['name']
                        let img = datas[i]['imgsrc']
                        let like = datas[i]['like']
                        let rating = datas[i]['rating']
                        let point = datas[i]['loc']['coordinates']

                        console.log(address)

                        var contentString = `
                                    <div class="iw_inner" style="padding:5px 15px 0px 15px">
                                        <h6 style="text-align: right">${category}</h6>
                                        <h3>${name}</h3>
                                        <h6>${address}<br />
                                            <img src="${img}" height="150" alt="이미지" class="thumb" /><br />
                                            <div style="color: darkgoldenrod;margin-bottom: 0px">★ : ${rating}</div><div style="color: red">♥: ${like}</div>
                                        </h6>
                                    </div>
                                    `
                        $('#swiper-wrapper').append(contentString);

                        //마커 생성
                        var marker = new naver.maps.Marker({
                            map: map,
                            position: point,
                            zIndex: 100,
                            // icon: {
                            //     content: [
                            //         `<div style="background: red">`
                            //
                            //         `</div>`
                            //     ].join(''),
                            // }
                        })

                        //정보창 생성
                        var infoWindow = new naver.maps.InfoWindow({
                            content: contentString,
                            maxWidth: 500,
                            borderWidth: 3,
                            backgroundColor: "#eee"
                        });

                        markers.push(marker)
                        infoWindows.push(infoWindow)
                    }//for 종료

                    function getClickHandler(seq) {
                        return function (e) {
                            var marker = markers[seq],
                                infoWindow = infoWindows[seq];

                            if (infoWindow.getMap()) {
                                infoWindow.close();
                            } else {
                                infoWindow.open(map, marker);
                            }
                        }
                    }

                    for (var i = 0, ii = markers.length; i < ii; i++) {
                        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
                    }

                }
            })
        }

        naver.maps.Event.addListener(map, 'idle', function () {
            for (var i = 0; i < markers.length; i++) {
                marker = markers[i]
                hideMarker(map, marker);
            }
            getCurrentLocationData();
        });

        function hideMarker(map, marker) {
            marker.setMap(null);
        }

    } // onSuccessGeoLocation 종료


    function onErrorGeolocation() {
        var center = map.getCenter();

        infowindow.setContent('<div style="padding:20px;">' +
            '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>' + "latitude: " + center.lat() + "<br />longitude: " + center.lng() + '</div>');

        infowindow.open(map, center);
    }

    $(window).on("load", function () {
        if (navigator.geolocation) {
            /**
             * navigator.geolocation 은 Chrome 50 버젼 이후로 HTTP 환경에서 사용이 Deprecate 되어 HTTPS 환경에서만 사용 가능 합니다.
             * http://localhost 에서는 사용이 가능하며, 테스트 목적으로, Chrome 의 바로가기를 만들어서 아래와 같이 설정하면 접속은 가능합니다.
             * chrome.exe --unsafely-treat-insecure-origin-as-secure="http://example.com"
             */
            navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
        } else {
            var center = map.getCenter();
            infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
            infowindow.open(map, center);
        }
    })
</script>
<!-- Slider main container -->
<!--<div class="swiper">-->
<!--    &lt;!&ndash; Additional required wrapper &ndash;&gt;-->
<!--    <div class="swiper-wrapper">-->
<!--        &lt;!&ndash; Slides &ndash;&gt;-->
<!--        <div class="swiper-slide">Slide 1</div>-->
<!--        ...-->
<!--    </div>-->
<!--    &lt;!&ndash; If we need pagination &ndash;&gt;-->
<!--    <div class="swiper-pagination"></div>-->

<!--    &lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
<!--    <div class="swiper-button-prev"></div>-->
<!--    <div class="swiper-button-next"></div>-->

<!--    &lt;!&ndash; If we need scrollbar &ndash;&gt;-->
<!--    <div class="swiper-scrollbar"></div>-->
<!--</div>-->

<!--<script>-->
<!--    const swiper = new Swiper('.swiper', {-->
<!--        // Optional parameters-->
<!--        direction: 'horizontal',-->
<!--        loop: true,-->

<!--        // If we need pagination-->
<!--        pagination: {-->
<!--            el: '.swiper-pagination',-->
<!--        },-->

<!--        // Navigation arrows-->
<!--        navigation: {-->
<!--            nextEl: '.swiper-button-next',-->
<!--            prevEl: '.swiper-button-prev',-->
<!--        },-->
<!--    });-->
<!--</script>-->
{% endblock %}